@import url('./defaults.css');

:root {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

.hero {
  text-align: center;
  padding: 5%;
  background: linear-gradient(to right, var(--champagne-mist), var(--khaki-beige), var(--gray-olive));
}

button {
  background-color: var(--shadow-gray);
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  box-shadow: 0 0 5px 1px gray;
  color: white;
}
button:hover {
  box-shadow: 0 0 5px 1px white;
  background-color: var(--light-shadow);
}
button:active {
  background-color: var(--ink-black);
}

table, th, tr {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 5px;
  min-width: 60px;
}

table tbody tr:nth-of-type(odd) {
  background-color: #eee;
}

a {
  color: currentColor;
}

a:hover {
  text-decoration: none;
}